<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="{{ asset('js/jquery.particleground.min.js') }}"></script>
        <script src="{{ asset('js/global.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/design.css') }}">
    </head>
    <body>
    <div  class="demo-layout-transparent mdl-layout mdl-js-layout">
        <div class="part"   id="particles" ></div>
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">BioLib Packager</span>

            </div>
        </header>
        <div  class="mdl-layout__drawer">
            <span class="mdl-layout-title" style="padding-left: 0px;margin: 0 auto;">
                <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
                   <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">U</span>
                    <span class="mdl-chip__text">{{ app.user.username }}</span>
                    <a href="{{ path('fos_user_security_logout') }}" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
                </span>
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ path('home') }}">Recherche</a>
                <a class="mdl-navigation__link" href="{{ path('projet') }}">Projet</a>
                <a class="mdl-navigation__link" href="">Aide</a>
                {% if app.user.username == 'admin' %}
                    <a class="mdl-navigation__link" href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                {% endif %}

            </nav>
        </div>
        <main id="xparticles" class="mdl-layout__content">
            {% block body %}
            {% endblock %}
        </main>
    </div>
        {% block javascripts %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    particleground(document.getElementById('particles'), {
                        dotColor: '#fff',
                        lineColor: '#fff'
                    });
                    let intro = document.getElementById('intro');
                    intro.style.marginTop = - intro.offsetHeight / 2 + 'px';
                }, false);
            </script>
        {% endblock %}
    </body>
</html>
