{% extends 'base.html.twig' %}
{% block body %}
    <div class="contain  mdl-grid ">
        {% for article in request.resultList.result %}
            <div class="mdl-cell--5-col m-card">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp  ">
                    <div class="mdl-card__title ">

                        <h2 class="mdl-card__title-text"> {{ article.title }}</h2>
                    </div>
                    <br>
                    <div class="mdl-card__supporting-text ">
                        {% if article.abstractText is defined %}
                            <p>
                                {{ article.abstractText |slice(0, 400) }}...
                                {% if article.doi is defined %}
                                    <a  target="_blank"  href="https://doi.org/{{article.doi}}">read more</a>
                                {% endif %}
                            </p>
                        {% else %}
                            <p>Pas de description.</p>
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border ">
                        {% if article.authorString is defined %}
                            <br><p>Auteur: {{ article.authorString }}</p>

                            <p>Journal: {{ article.journalInfo.journal.title }}</p>

                            <p>Date: {{ article.firstPublicationDate }}</p>
                        {% endif %}

                    </div>
                <div class="mdl-card__menu" style="display: ">
                {% if article.id is defined %}
                    <button onclick="fetchArticle('{{ article.id }}', '{{ current.name }}')" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">add</i>
                    </button>
                {% endif %}
                </div>

            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}