{% extends 'base.html.twig' %}
{% block body %}
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        go
    </button>
    <div class="contain">

        {% for article in request.resultList.result %}
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title ">
                        <div class="title_logo">▶</div>
                        <h2 class="mdl-card__title-text"> {{ article.title }}</h2>
                    </div>
                    <br>
                    <div class="mdl-card__supporting-text ">
                        {% if article.abstractText is defined %}
                            <p>{{ article.abstractText |slice(0, 200000) }} ... </p>
                        {% else %}
                            <p>Pas de description.</p>
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border ">
                        {% if article.authorString is defined %}
                            <br><p>Auteur: {{ article.authorString }}</p>
                            <p>Journal: {{ article.journalInfo.journal.title }}</p>
                            <p>Date: {{ article.firstPublicationDate }}</p>
                        {% endif %}
                        <a  target="_blank"  href="https://doi.org/{{article.doi}}">link</a>
                    </div>

                <div class="mdl-card__menu">
                {% if article.id is defined %}
                    <button onclick="fetchArticle('{{ article.id }}')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>
                {% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}